.centerImage {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.topTitle {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    font-variant: small-caps;
}

.bottonLinks {
    text-align: center;
    display: block;
    font-size: 24px;
}